.ans{
    opacity: 0;
    transform:translateY(-40px) ;
    transition: 0.5s all ease-out;
    height: 0;
    visibility: hidden;
}
.ans-show{
    visibility:inherit;
    opacity: 1;
    height: auto;
    transform: translateY(0);
    /* transition: 0.5s all ease-out; */
    
}
input{
    outline: none;
}
input:focus{
    outline: 2px solid rgb(146, 146, 146);
}
input::placeholder{
    font-weight: 700;
}
.rounded{
    border-radius: 0.5rem;
}